/* General Text */

h1, h3, h5 , h6 {
    font-family: "Raleway";
}

p{
    font-family: "Open Sans";
    color: hsl(0, 0%, 50%);
}

/* Hero */

.color-button1 {
    background-color: hsl(163, 95%, 43%);
    color: white;
    font-family: "Raleway";
    border: none;
    border-radius: 2px;
    box-shadow:  0px 4px 8px -1px rgba(0, 0, 0, 0.2);
    width: 78px;
    height: 27px;
}

#back-gradient {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    color: white;
    background: linear-gradient(to bottom right, hsl(243, 58%, 33%), 75%, hsl(243, 86%, 85%));
    margin-bottom: 65px;
    padding-bottom: 105px;
    /*transform: skew(0deg, 5deg) translateY(-120px);*/  
  
}

.logo1 {
    padding: 35px 0px 11px 54px;;
    

}

.signing {
    float: right;
    padding-right: 30px;
    padding-left: 318px;
    padding-top: 33px;

}

.signing h6{
    display: inline;
    padding-right: 15px;
   
    
}

.professor-image {
    margin-top: 63px;
    padding-right: 10px;  
}


.get-started {
    padding-left: 54px;
    padding-top: 176px;
    padding-right: 111px;
   
    
}

.color-button2 {
    background-color: hsl(163, 95%, 43%);
    color: white;
    font-family: "Raleway";
    border: none;
    border-radius: 2px;
    box-shadow:  0px 4px 8px -1px rgba(0, 0, 0, 0.2);
    width: 190px;
    height: 45px;
    font-size: 14px;
    
}

/* Main Content */

#slogan {
    text-align: center;
    margin-bottom: 64px;
}

.grid-container2 {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 70px;
}

.smartphone-image {
    grid-row-start: 1;
    grid-row-end: 3;

}

.registration1 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 60px;
}

.registration1 p {
    color: hsl(243, 87%, 12%);

}

#email {
    color: #dcdcdc;
    font-family: "Open Sans";
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    width: 363px;
    height: 36px;
    font-size: 14px;
    padding-left: 41px;

}

.color-button3 {
    background-color: hsl(163, 95%, 43%);
    color: white;
    font-family: "Raleway";
    border: none;
    border-radius: 2px;
    box-shadow:  0px 4px 8px -1px rgba(0, 0, 0, 0.2);
    width: 146px;
    height: 36px;
    margin-left: 20px;
}

/* Footer */

footer {
    background-color: hsl(243, 87%, 12%);
    color: white;
    
}

.grid-container3 {
    display: grid;
    grid-template-columns: repeat(2, 200px) 160px 450px;
    position: relative;
    bottom: 94px;
    padding-left: 335px;
   
  
}

.logo2 {
    padding-top: 70px;
    padding-left: 50px;

}

#icons {
    padding-left: 50px;
    position: relative;
    top: 25px;
}

#icons p {
    color: white;
    display: inline;
    padding-left: 18px;

}

img {
    padding-top: 10px;
}

ul {
    font-family: "Open Sans";
    list-style-type: none;
}



.list1 {
    border-left: 1px solid white;
    line-height: 2;
}
 
.list2 {
    line-height: 2;
}

.list3 {
    border-right: 1px solid white;
    line-height: 2;
}

.registration2 {
    padding-left: 65px;
} 


.registration2 p {
    color: white;
    
}

#blank {
    color: #dcdcdc;
    font-family: "Open Sans";
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    width: 363px;
    height: 36px;
    
 
}

.color-button4 {
    background-color: hsl(163, 95%, 43%);
    color: white;
    font-family: "Raleway";
    border: none;
    border-radius: 2px;
    box-shadow:  0px 4px 8px -1px rgba(0, 0, 0, 0.2);
    width: 146px;
    height: 36px;
    margin-left: 20px;
    float: right;
    margin-right: 20px;
    margin-top: 15px;
}